@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-color: black;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}
#countdown {
  font-size: 7em;
  text-align: center;
}
.saffron {
  color: rgb(255, 103, 31);
}
.white {
  color: rgb(255, 255, 255);
}
.green {
  color: rgb(4, 106, 56);
}
.flag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: rgb(6, 3, 141);
  background: rgb(255, 103, 31);
  background: linear-gradient(
    180deg,
    rgba(255, 103, 31, 1) 0%,
    rgba(225, 225, 225, 1) 50%,
    rgba(4, 106, 56, 1) 100%
  );
}
